<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006263162496-107b2vqa634si88o4utlom10j6ojvden.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006263162496-107b2vqa634si88o4utlom10j6ojvden</string>
	<key>API_KEY</key>
	<string>AIzaSyAe9u8Ag20AnM1h5KAdKfc0EjJ5Crf1VmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1006263162496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pbarranco.contactmyapp</string>
	<key>PROJECT_ID</key>
	<string>contact-my-app-2</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-my-app-2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006263162496:ios:494e39b7766144fb70f865</string>
</dict>
</plist>