@font-face {
  font-family: 'CustomIcons';
  src: url('../../../../design-system/assets/fonts/CustomIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} 